# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS
.DS_Store

# IDE
.vscode/
*.swp
*.swo
.idea/
.cursor/
tmp/

# Astro
.astro/

# Latex
public/docs/*.log
public/docs/*.aux
public/docs/*.fls
public/docs/*.fdb_latexmk
public/docs/*.out
public/docs/*.synctex.gz