---
interface Props {
  isProject?: boolean;
}

const { isProject = false } = Astro.props;
---

<header class={isProject ? "header-desktop-fixed" : ""}>
    <nav>
        <h1><a href="/">Virgile Mendes</a><span>, CPI, B. Ing.</span></h1>
        <a href="mailto:contact@virgile.men">Contact</a>
    </nav>
</header>
